.preloaderContainer {
     position: fixed;
     inset: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #1a1a40;
     z-index: 9999;
     opacity: 1;
     transition: opacity 0.5s ease-out;

     overflow: hidden;
}

.fadeOut {
     opacity: 0;
}

.largeText {
     font-size: clamp(3.5rem, 18vw, 250px);
     line-height: 1;
     color: white;
     text-align: center;
     white-space: nowrap;
}
